@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    /* background-color: rgb(160, 86, 228); */
    background-size: 200% auto;
    color: black;
    width: fit-content;
    padding: 10px;
    height: auto;
    font-weight: semibold;
    transition: 0.5s;
}
.btn:hover{
    background-position: right center;
}
.btn-sm{
    background-image: linear-gradient(to right, blue 0%, #b7d1ff 51%, darkblue 100%);
}

img{
    width: 80%;
    height: 70vh;
}